---
import BaseLayout from '../layouts/BaseLayout.astro';
import Carousel from '../components/Carousel.jsx';
const {content} = Astro.props;
---
<BaseLayout title={content.title}>
    <section class="container mx-auto prose">
        <article>
            <slot />
            <h1>{content.title}</h1>
            <Carousel client:only slides={content.slides} />
            <div class="details">
                <p>{content.yearPainted}</p>
                <p>{content.medium}</p>
                <p>{content.dimensions}</p>
                <p>{content.description}</p>
            </div>
        </article>
    </section>
</BaseLayout>